#sam files
/Backend/.aws-sam
/Backend/samconfig.toml

#vscode files
/Backend/.vscode
/Frontend/.vscode

#buildfiles
/Frontend/build
/Backend/UrlShortener/UrlShortener


# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
